# Dependencies
node_modules/
.mip/

# Build
dist/
release/
*.exe
*.tgz
*.zip

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Env
.env
.env.local
.env.*.local

# Temp
*.tmp
*.temp
temp/
tmp/

# Coverage
coverage/
.nyc_output/

# Misc
*.pid
*.seed
*.pid.lock



*.backup
kiwigit.js
.gkit/
blogpost/